h1 {
    font-size: 40px;
}
.green-text {
    color: green;
}
.rosso {
    background-color: red;
}
.giallo {
    background-color: yellow;
}
.verde {
    background-color: green;
}
.blu {
    color: blue;
}
